.product-item img {
    max-width: 300px; 
    height: auto; 
    display: block; 
    margin-right: 10px; 
    margin-top: 40px;
}

.product-item{
    text-align: left;
}

.cart-item img {
    max-width: 300px; 
    height: auto; 
    display: block; 
    margin-right: 10px; 
    margin-top: 40px;
    
}

.cart-item{
    text-align: left;
}

.Cart {
    margin-left: 900px; /* Move the cart to the right */
    text-align: left;
}

